<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>AppMixer</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>AppMixer needs access to control volume levels for individual applications.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AppMixer needs microphone access to capture audio from apps using input-capable devices.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>AppMixer uses Bluetooth to connect paired audio devices from the menu bar.</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>finetune</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.finetuneapp.FineTune</string>
		</dict>
	</array>
</dict>
</plist>
